.page { 
	width: 100%;
	-webkit-filter: none;
	filter: none;
	overflow: hidden;
}

.page.blur {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: filter .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: filter .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header {
	width: 100%;
	height: 90px;
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	z-index: 1;
	-webkit-transition: top .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: top .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header-inner {
	position: relative;
	width: 1400px;
	margin: 0 auto;
	box-sizing: border-box;
	display: block;
}

.header.header-up { top: -90px; }

.header nav {
	position: relative;
	height: inherit;
}

.header nav a {
	display: inline;
	line-height: 90px;
	font-weight: 600;
	letter-spacing: .1em;
}

.header nav a .logo {
	width:40px;
	height:40px;
}

.header nav a.link:not(.logo) { 
	margin-right: 40px;
}

.header nav a.link:not(.logo):hover, .header nav a.active {
	border-bottom: 1px solid #000;
}

.header a.logo {
	position: absolute;
	top: 20px; right:20px;
	-webkit-transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
}

.header nav a.logo:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.header img {
	display: block;
}

.header.mobile .mobile-menu {
	background: url('../images/common/bars-solid.svg');
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	bottom: 25px; left: 20px;
	-webkit-transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	cursor: pointer;
}

.header.mobile .mobile-menu:hover, .header.mobile .mobile-menu-close:hover, .header.mobile .mobile-home:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.header.mobile .mobile-menu-close {
	background: url('../img/arrow-left-solid.svg');
	background-repeat: no-repeat;
	width: 100%;
	height: 30px;
	display: block;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	cursor: pointer;
	margin-top: 30px;
}

.header.mobile .mobile-home {
	position: absolute;
	bottom: 20px; right: 40px;
	-webkit-transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
}

.header.mobile nav {
	z-index: 100;
	padding-top: 30px;
	width: inherit;
	height: 100%;
	background: #000;
	overflow: scroll;
	position: fixed;
	top: 0; left: -100%;
	-webkit-transition: left .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: left .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header.mobile.open nav {
	left: 0;
}

.header.mobile.open nav a::selection {
	color: #000;
	background: #fff;
}

.header.mobile nav a.link {
	display: block;
}

.header.mobile nav a.link:not(.logo) {
	margin-right: 0;
	font-size: 24px;
	color: #fff;
	border-bottom: 1px solid transparent;
	padding:0 20px;
}

.header.mobile nav a.active {
	border-bottom: 1px solid #fff !important;
	color:#FFDA7C;
}

.main {
	width:1400px;
	margin:0 auto;
	padding-top: 90px;
	-webkit-transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}

.main .intro {
	margin-top: 70px;
	position: relative;
}

.main .intro h2 {
	font-size: 50px;
	font-weight: 300;
	display: inline-block;
	line-height: 64px;
}

.main .intro a.more {
	display: inline-block;
    font-weight: 600;
	font-size: 14px;
	width: 145px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
	background-color: #FFDA7C;
    text-align: center;
    letter-spacing: .2em;
    margin-left: 20px;
    position: absolute;
    bottom: 12px;
}

@-webkit-keyframes linkBounce {
	15% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}
	35% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	55% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
	75% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
	95% {
		-webkit-transform: translateY(1px);
		transform: translateY(1px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes linkBounce {
	15% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}
	35% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	55% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}
	75% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
	95% {
		-webkit-transform: translateY(1px);
		transform: translateY(1px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

a.more:hover {
	-webkit-animation: linkBounce .5s ease-in-out;
	animation: linkBounce .5s ease-in-out;
}

span.type {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .1em;
}

.main section {
	margin-top: 90px;
}

.main .thumb-list ul {
	font-size: 0;
	margin-left: -50px;
}

.main .thumb-list ul li {
	display: inline-block;
	width: 33.333%;
	margin-top: 50px;
}

.main .thumb-list ul li article {
	background: #F8F8F8;
	margin-left: 50px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 2px;
	box-sizing: border-box;
	position: relative;
	box-shadow: 0px 20px 50px -20px rgba(0,0,0,.2);
}

.main .thumb-list ul li article:hover {
	box-shadow: 0px 20px 50px -20px rgba(0,0,0,.2);
}

.main .thumb-list ul li article figure {
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.main .thumb-list ul li article figure .list-item {
	width: inherit;
	height: inherit;
	transition: all .2s ease-in-out;
}

.main .thumb-list ul li:hover article figure .list-item {	
	transform: scale(1.1);
}

.main .thumb-list ul li article img {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	-webkit-transition: transform .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: transform .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.main .thumb-list ul li article:hover img {
	-webkit-transform: scale(1.24);
	transform: scale(1.24);
}

.main .thumb-list ul li article .work {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: rgba(255,255,255,.9);
	font-size: 12px;
	padding: 20px;
	box-sizing: border-box;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: transform .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: transform .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.main .thumb-list ul li article:hover .work {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.main .thumb-list ul li article .work h2 { margin-bottom: 10px; line-height: 24px; font-weight: 500; }
.main .thumb-list ul li article .work h4 { margin-bottom: 7px; }
 
.main .thumb-list ul li article .work p { margin-top: 5px; }

.main .thumb-list ul li article .work em {
	position: absolute;
	bottom: 20px; right: 20px;
}
.main .notice {text-align: center; font-size:18px; line-height: 28px; margin:80px 0; padding:0 20px; word-break: keep-all;}
#about .cover {
	margin-top: 60px;
	font-size: 0;
}

#about .cover h3, #about .cover p {
	margin-bottom: 40px;
}

#about .cover p, #about .cover li {
	font-weight: 300;
	line-height: 1.7;
	font-size: 17px;
}

#about .cover h3 {
	display: inline-block;
	font-size: 20px;
}

#about .cover h3::after {
	content: '\0020\003A';
}

#about .cover li {
	display: inline-block;
	padding: 5px 20px;
	box-sizing: border-box;
	height: 40px;
	border-radius: 40px;
	margin-bottom: 20px;
	margin-right: 20px;
	box-shadow: 5px 5px 30px -10px rgba(0,0,0,0.15);
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	cursor: default;
}

#about .cover {
	display: flex;
	justify-content: space-between;
}
#about .cover .myself {
	width: 70%;
	font-size: 16px;
}

#about .cover .mycharacter {
	width: 30%;
	text-align: right;
}

#about .cover .mycharacter img {
	width: 200px;
}

#about .cover b {
	font-weight: 300;
	border-bottom: 1px dashed #000;
}

.footer {
	margin: 100px 0;
}

.footer .footer-inner {
	position: relative;
	width:1400px;
	margin:0 auto;
}

.footer .type {
	display: flex;
	align-items: center;
	text-align: left;
}

.footer .type::after {
	content: '';
	width: 100%;
	height: 1px;
	background: #555;
	flex: 1;
	margin-left: 25px;
}

.footer address {
	font-size: 21px;
	font-weight: 600;
	margin: 50px 0 40px;
}

.footer .copyright {
	position: absolute;
	bottom: 0; right:0;
	font-size: 14px;
	letter-spacing: .1em;
}

.footer a:hover {
	text-decoration: underline;
}

.footer .sns a {
	display: inline-block;
	margin-right: 10px;
	box-sizing: border-box;
	-webkit-transition: transform .15s ease-in;
	transition: transform .15s ease-in;
}

.footer .sns a:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.footer .sns a img { vertical-align: text-top; }

.newlayer {
	display: none;
}

.newlayer > ul > li {
	width: 1000px;
	height: 85%;
	background: #fff;
	position: fixed;
	top: 50%; left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	z-index: 10;
	border-radius: 5px;
	padding: 60px;
	box-sizing: border-box;
	box-shadow: 0px 20px 50px -20px rgba(0,0,0,.3);
	overflow: hidden;
}

.newlayer li article {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.newlayer li article b {
	font-size: 40px;
	line-height: 46px;
	letter-spacing: .03em;
	flex: 1;
	display: flex;
	align-items: center;
	text-align: left;
	word-break: keep-all;
}

.newlayer li article b::after {
	content: '';
	flex: 1;
	border: none;
	width: 100%;
	height: 1px;
	background: #333;
	margin: 0 20px;
}

.newlayer li article .link-box {
	font-size: 0;
}

.newlayer li article a:not(.ref) {
    display: inline-block;
    font-weight: 600;
	font-size: 18px;
	width: 155px;
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
	border: 1px solid #222;
    text-align: center;
    letter-spacing: .2em;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.newlayer li article a:hover {
	background: #222;
	color: #fff;
}

.newlayer li article a:not(.ref):last-child {
	margin-left: 20px;
}

.newlayer li article a.kr {
	font-weight: 500;
}

.newlayer li article .title {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.newlayer li article .preview {
	width: 100%;
	margin-top: 2rem;
	box-sizing: border-box;
	height: auto;
	box-sizing: border-box;
}

.newlayer li article .subtitle, .newlayer li article .description {
	margin-top: 30px;
	position: relative;
}

.newlayer li article .subtitle p, .newlayer li article .description li {
	font-size: 18px;
	margin-bottom: 10px;
}

.newlayer li article .description li::before {
	content: '\2013\0020';
	position: absolute;
	margin-left: -20px;
}

.newlayer li article .description li {
	letter-spacing: .03em;
	margin-left: 20px;
}

.newlayer li article .description li > a {
	border-bottom: 1px dashed #222;
}

.newlayer li article .subtitle img {
	vertical-align: text-bottom;
	margin-right: 10px;
}

.newlayer li article span.type {
	display: inline-block;
	margin: 20px 0;
	font-size: 16px;
	font-weight: 200;
}

.newlayer li article .viewport {
	padding: 50px 0;
}

.newlayer li article .viewport ul {
	display: flex;
	font-size: 0;
	justify-content: space-evenly;
	align-items: flex-end;
}

.newlayer li article .viewport ul li.desktop img {
	width: 400px;
}
.newlayer li article .viewport ul li.tablet img {
	width: 200px;
}
.newlayer li article .viewport ul li.mobile img {
	width: 100px;
}

.newlayer button {
	font-family: 'Times New Roman', serif;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 40px;
	width: 60px;
	height: 60px;
	line-height: 40px;
	z-index: 10;
	position: fixed;
	color: #fff;
	-webkit-transition: color .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: color .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.newlayer button:hover {
	color: #333;
}

button.close {
	top: 35px; right: 35px;
	width: 40px;
	height: 40px;
}

.arrow {
	position: fixed;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 10;
}

.arrow button {
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.arrow button.prev {
	left: 50%;
	-webkit-transform: translate(-600px,-50%);
	transform: translate(-600px,-50%);
}

.arrow button.next {
	left: 50%;
	-webkit-transform: translate(540px,-50%);
	transform: translate(540px,-50%);
}

.curtainOff {
	opacity: 0;
}

.curtainOn {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	background-color: rgba(0,0,0,.2);
	z-index: 9;
	opacity: 1;
	backdrop-filter: blur(5px);
	-webkit-transition: all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media screen and (max-width:767px) { 
	.header {
		height:60px;
	}
	.header-inner {
		width:100%;
	}
	.header.mobile .mobile-menu {
		width:30px;
		height:30px;
		bottom:15px;
	}
	.header.mobile .mobile-home {
		bottom:10px;
	}
	.header.mobile .mobile-home img {
		width:40px;
		height:40px;
	}
	
	.header a.logo {
		top:10px;
	}
	.header a.logo img {
		width:40px;
		height:40px;
	}
	.main {
		width:100%;
	}
	
	.main .thumb-list ul {
		margin-left:0;
	}

	.main .thumb-list ul li {
		width: 100%;
	}
	
	.main .thumb-list ul li article {
		margin:0;
	}

	.main .intro, #about .cover {
		margin-top: 50px;
		display: block;
	}
	
	.main .intro h2 {
		font-size:24px;
		line-height: 38px;
	}
	.main .thumb-list ul li article .work {
		-webkit-transform: translateY(0);
    	transform: translateY(0);
		position: static;
	}
	
	#about .cover .myself {
		display: inherit;
		width: 100%;
	}
	
	#about .cover .mycharacter {
		display: inherit;
		width: 55%;
		margin: 50px auto 0;
	}
	
	.main .intro h1 {
		font-size: 40px;
		display: block;
		line-height: 1.6;
		word-break: keep-all;
	}
	
	.main .intro a.more {
		display: block;
		margin-left: 0;
		position: inherit;
		margin-top: 30px;
	}
	
	.newlayer > ul > li {
		width: 100%;
		height: 100%;
		border-radius: inherit;
		padding: 30px;
	}
	
	.newlayer button {
		color: #555;
	}
	
	.newlayer li article .title {
		display: inherit;
		text-align: center;
	}
	
	.newlayer li article b {
		margin-bottom: 10px;
		font-size: 35px;
		line-height: 40px;
		text-align: center;
		display: block;
	}
	
	.newlayer li article b::after {
		display: none;
	}
	
	.newlayer li article .link-box {
		margin: 0 auto;
	}
	
	.newlayer li article a {
		margin-top: 20px;
		width: 140px;
		font-size: 16px;
	}
	
	.newlayer li article a:not(.ref):last-child {
		margin-left: 0;
	}
	
	.newlayer li article .subtitle img {
		width: 22px;
		height: 22px;
	}
	
	.newlayer li article .subtitle p, .newlayer li article .description li {
		font-size: 16px;
	}
	
	.newlayer li article span.type {
		font-size: 14px;
	}
	
	.arrow {
		display: none;
	}
	
	button.close {
		top: -2px; right: -2px;
		transform: scale(.6);
	}

	#about .cover .mycharacter img {
		width:100%;
	}
	
	.footer {
		margin-bottom: 50px;
	}
	
	.footer .footer-inner {
		width:100%;
	}
	
	.footer address {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.footer .copyright {
		position: inherit;
		bottom: 0; right: 0;
		display: inline-block;
		margin-top: 30px;
	}
	
	.slide__audio {
		transform: scale(.6);
	}
}

@media screen and (max-width:1400px) {
	.header-inner {
		position: static;
		width:100%;
		padding:0 20px;
	}
	.main .intro a.more {
		display:block;
		position: static;
		left:auto;
		margin:20px 0;
	}
	.main {
		width:100%;
	}
	.main .thumb-list ul li article {
		background:#fff;
	}
	.main .thumb-list ul li article figure {
		height: auto;
	}
	.main .thumb-list ul li {
		margin-top:20px;
	}
	.main .thumb-list ul li article img {
		padding:20px 0;
	}
	.content {
		padding:0 20px;
	}
	.footer .footer-inner {
		width:100%;
		padding:0 20px;
	}
	.page, header {
		width: 100%;
		margin: 0 auto;
	}
	.footer .copyright {
		position: static;
	}
}

@media screen and (min-width:768px) and (max-width:1023px) {
	.header-inner {
		width:100%;
	}

	.main {
		width:100%;
	}

	.main .thumb-list ul li {
		width: 50%;
	}
	
	#about .cover .myself {
		display: inherit;
		width: 100%;
	}
	
	#about .cover .mycharacter {
		display: inherit;
		width: 40%;
		margin: 50px auto 0;
	}
	
	.newlayer > ul > li {
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}
	
	.newlayer li article h1 {
		font-size: 35px;
	}
	
	.newlayer li article a {
		width: 145px;
		font-size: 16px;
	}
	
	.newlayer li article .subtitle img {
		width: 22px;
		height: 22px;
	}
	
	.newlayer li article .subtitle p, .newlayer li article .description li {
		font-size: 16px;
	}
	
	.newlayer li article span.type {
		font-size: 14px;
	}
	
	.newlayer button {
		color: #555;
	}
	
	.arrow {
		display: none;
	}
	
	button.close {
		top: 15px; right: 15px;
		transform: scale(.8);
	}
}

@media screen and (min-width:1024px) and (max-width:1399px) {
	.main .thumb-list ul li {
		width: 50%;
	}
	
	.newlayer > ul > li {
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}
	
	#about .intro img {
		width: 30%;
	}
	
	.newlayer button {
		color: #555;
	}
	
	.arrow {
		display: none;
	}
	
	button.close {
		top: 15px; right: 15px;
		transform: scale(.8);
	}
}
